<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
    <bean id="userManager" class="ry.property.editor.UserManager">
        <property name="dataValue">
            <value>2024-01-16</value>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="ry.property.editor.DatePropertyEditor">
                </entry>
<!--                <entry key="java.util.Date" value-ref="datePropertyEditor">-->
<!--                </entry>-->
            </map>
        </property>
    </bean>
<!--    <bean id="datePropertyEditor" class="ry.property.editor.DatePropertyEditor">-->
<!--        <property name="format" value="yyyy-MM-dd"/>-->
<!--    </bean>-->


<!--    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
<!--        <property name="propertyEditorRegistrars">-->
<!--            <list>-->
<!--                <bean class="ry.property.editor.DataPropertyEditorRegistrar"/>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

</beans>